@import url(./variables.css);
@import url(./card.css);
@import url(./template.css);

.flex{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap; 
}