.template__main{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
    text-align: center;
    font-family: var(--fontFamily);
    font-weight: bold;
    line-height: 2rem;
}

.template__img{
    position: relative;
    max-width: 50%;
    height: 750px;
    object-fit: cover;
}

.template__article-area{
    max-width: 50%;

}

.template__small-heading{
    font-size: 14px;
}

.template__big-heading{
    font-size: 2rem;
}

.template__text{
    padding: 3rem 5rem;
    text-align: left;
}

.template__lilletext{
    text-align: left;
    padding: 0 5rem;
}

.template__medium-heading{
    margin: 0 5rem;
    text-align: left;
}

.template__heading_color{
    color: #fb26ca;
}

.template_heart{
    position: absolute;
    z-index: 10;
    color: #fb26ca;
    font-size: 2rem;
    bottom: 5px;
    left: 100px;
}